---
layout: baseLayout
---
<h2 class="spooky-text">Obambo Tracker</h2>
<p>
    The <a href="/ghosts/obambo.html">Obambo</a> alternates between "calm" and "aggressive" states on a fixed interval of two minutes,
    starting halfway through the calm state upon location entry. This regularity allows calculating the Obambo's state from the elapsed time of the contract.
</p>
<section class="obambo-tracker">
    <div class="obambo-tracker__time">
        <div class="obambo-tracker__time-controls time-controls__add-time">
            <button class="time-controls__change-time">+1m</button>
            <button class="time-controls__change-time">+1s</button>
        </div>
        <div class="obambo-tracker__time--time-stuff">
            <span class="time-stuff__time">00:00</span>
            <button class="time-stuff__start time-stuff__control">Start</button>
            <button class="time-stuff__reset time-stuff__control">Reset</button>
        </div>
        <div class="obambo-tracker__time-controls time-controls__subtract-time">
            <button class="time-controls__change-time">-1m</button>
            <button class="time-controls__change-time">-1s</button>
        </div>
    </div>
    <p class="obambo-tracker__state">
        <span >The Obambo is currently...</span>
        <span class="obambo-tracker__state--live spooky-text">CALM</span>
    </p>
</section>
