---
layout: baseLayout
---
<script defer src="/scripts/alpinejs.min.js"></script>
<script defer src="/scripts/obambo-tracker.js"></script>
<h2 class="spooky-text">Obambo Tracker</h2>
<p>
    The <a href="/ghosts/obambo.html">Obambo</a> alternates between "calm" and "aggressive" states on a fixed interval of two minutes,
    starting halfway through the calm state upon location entry. This regularity allows calculating the Obambo's state from the elapsed time of the contract.
</p>
<section class="obambo-tracker"
    x-data="{
        timeRaw: -60,
        timeIntervalHandle: 0,

        get timeNormalized() {
            return this.timeRaw + 60;
        },

        get timeDisplay() {
            const minutes = Math.floor(this.timeNormalized / 60);
            const seconds = this.timeNormalized % 60;
            return `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2,'0')}`;
        },
        get isTimeRunning() {
            return this.timeIntervalHandle > 0;
        },

        get obamboState() {
            if (this.timeRaw < 0) {
                return 'calm';
            }

            const twoMinuteTracker = Math.floor(this.timeRaw / 120);
            return twoMinuteTracker % 2 === 0 ? 'aggressive' : 'calm';
        },

        addTimeMinute() {
            this.timeRaw += 60;
        },
        addTimeSecond(addAmount) {
            this.timeRaw += addAmount;
        },
        resetTime() {
            this.timeRaw = -60;
            if (this.timeIntervalHandle) {
                clearInterval(this.timeIntervalHandle);
                this.timeIntervalHandle = 0;
            }
        },
        startTime() {
            this.timeIntervalHandle = setInterval(() => {
                this.timeRaw += 1;
            }, 1000);
        }
    }"
>
    <div class="obambo-tracker__time">
        <div class="obambo-tracker__time--time-adders">
            <button class="time__control" x-on:click="addTimeMinute()" x-bind:disabled="isTimeRunning">+1m</button>
            <button class="time__control" x-on:click="addTimeSecond(5)" x-bind:disabled="isTimeRunning">+5s</button>
            <button class="time__control" x-on:click="addTimeSecond(1)" x-bind:disabled="isTimeRunning">+1s</button>
        </div>
        <div class="obambo-tracker__time--time-display">
            <span class="time-display__time" x-text="timeDisplay"></span>
        </div>
        <div class="obambo-tracker__time-controls">
            <button class="time__control" x-on:click="startTime()" x-bind:disabled="isTimeRunning">Start</button>
            <button class="time__control" x-on:click="resetTime()">Reset</button>
        </div>
    </div>
    <p class="obambo-tracker__state">
        <span >The Obambo is currently...</span>
        <span class="obambo-tracker__state--live spooky-text"
            x-text="obamboState"
            x-bind:class="{ 'obambo-state--calm': obamboState === 'calm', 'obambo-state--aggressive': obamboState === 'aggressive' }"
        >
        </span>
    </p>
</section>
