---
layout: baseLayout
---
<h2>Sanity Checker</h2>
<h3>Realtime Checker</h3>
<p><ghost-link name="the mimic"></ghost-link> has no determined sanity and is not included in the list.</p>
<label for="selected-sanity">Choose a sanity amount to see which ghosts may hunt at that threshold:</label>
<input type="range" id="selected-sanity" name="selected-sanity" step="5" min="0" max="100" list="sanity-markers">
<datalist id="sanity-markers">
    <option value="0" label="0"></option>
    <option value="10" label="10"></option>
    <option value="20" label="20"></option>
    <option value="30" label="30"></option>
    <option value="40" label="40"></option>
    <option value="50" label="50"></option>
    <option value="60" label="60"></option>
    <option value="70" label="70"></option>
    <option value="80" label="80"></option>
    <option value="90" label="90"></option>
    <option value="100" label="100"></option>
</datalist>
<ul class="ghosts">
    {%- for ghostName, sanityNumbers in sanityCollections.ghostSanityConditions %}
        <li>
            <span class="ghost-name">{{ ghostName }}</span>
            <ul class="ghost-list-inline">
                {% for sanity in sanityNumbers %}
                <li title="{{ sanity.condition}}">{{ sanity.sanityNum }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor -%}
</ul>
<h3>Starting sanity thresholds</h3>
<ul>
{% for sanity in sanityCollections.sanityStartingSortDesc %}
    <li>
        {{ sanity.sanityNum }}
        {%- if sanity.sanityNum !== 'Varies' %}%{% endif %}:
        <ul class="ghost-list-inline">
            {% for ghost in sanity.ghosts %}
                <li>
                <ghost-link name="{{ ghost.name }}"></ghost-link>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
<h3>Super sanity thresholds</h3>
<ul>
{% for sanity in sanityCollections.sanitySuperSortDesc %}
    <li>
        {{ sanity.sanityNum }}%:
        <ul>
            {% for superPair in sanity.superPairs %}
                <li>
                    <ghost-link name="{{ superPair.ghost.name }}"></ghost-link>
                    ({{ superPair.condition }})
                </li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
<script src="/scripts/realtime-sanity-checker.js"></script>