<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Phasmophobia Quick Reference - {{ title }}</title>
    <link rel="stylesheet" href="/styles/index.css"/>
</head>
<body>
<header>
    <h1>Phasmophobia Quick Reference: {{ title }}</h1>
    <p>Using Phasmophobia version v0.8.3.1</p>
</header>
<nav>
    <a href="/ghosts">Ghosts</a> -
    <a href="/tarot">Tarot cards</a> -
    <a href="/questions">Questions to ask</a>
</nav>
<main>
    {{ content | safe }}
</main>
</body>
</html>