<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Phasmophobia Quick Reference - {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/index.css"/>
</head>
<body>
<header>
    <h1>Phasmophobia Quick Reference</h1>
    <p>Using Phasmophobia version v0.8.3.1</p>
</header>
<nav>
    <a href="/ghosts">Ghosts</a> -
    <a href="/sanity-checker">Sanity checker</a> -
    <a href="/tarot">Tarot cards</a> -
    <a href="/questions">Questions to ask</a> -
    <a href="/cursed-possessions">Cursed possessions</a> -
    <a href="/timers">Timers</a>
</nav>
<main>
    {{ content | safe }}
</main>

<footer>
    This site, "Phasmophobia Quick Reference," is adapted from "<a href="https://phasmophobia.fandom.com/">Phasmophobia Wiki | Fandom</a>" by <a href="https://phasmophobia.fandom.com/wiki/Special:Community">multiple authors</a>, used under <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>. "Phasmophobia Quick Reference" is licensed under <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a> by Owen A.
</footer>
</body>
</html>
