---
layout: baseLayout
---
<h2>Ghosts</h2>
<nav>
    <ul class="ghosts">
        {%- for ghost in ghosts %}
            <li>
            {% renderTemplate "webc", ghost %}
            <ghost-link :@name="name"></ghost-link>
            {% endrenderTemplate %}
            </li>
        {% endfor -%}
    </ul>
</nav>
{{ content | safe }}