---
layout: baseLayout
---
<h2>Ghosts</h2>
<nav>
    <ul class="ghosts">
        {%- for ghost in ghosts %}
            <li>
            <ghost-link name="{{ ghost.name }}"></ghost-link>
            </li>
        {% endfor -%}
    </ul>
</nav>
{{ content | safe }}