@import url("reset.css");

:root {
  font: 16pt / 1.2 sans-serif;

  --body-padding: 1rem;
  --major-padding: calc(var(--body-padding) * 0.75);

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,768,20,1.25,3,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.69rem, calc(0.62rem + 0.38vw), 0.8rem);
  --step--1: clamp(0.83rem, calc(0.71rem + 0.6vw), 1rem);
  --step-0: clamp(1rem, calc(0.82rem + 0.89vw), 1.25rem);
  --step-1: clamp(1.2rem, calc(0.94rem + 1.29vw), 1.56rem);
  --step-2: clamp(1.44rem, calc(1.07rem + 1.83vw), 1.95rem);
  --step-3: clamp(1.73rem, calc(1.22rem + 2.55vw), 2.44rem);

  /* @link https://www.joshwcomeau.com/shadow-palette/ */
  --card-shadow-color: 0deg 0% 65%;
  --card-shadow-elevation-low: 1px 1px 1.6px
      hsl(var(--card-shadow-color) / 0.32),
    1.6px 1.6px 2.5px -1.2px hsl(var(--card-shadow-color) / 0.32),
    3.9px 3.9px 6.2px -2.5px hsl(var(--card-shadow-color) / 0.32);
  --card-shadow-elevation-medium: 1px 1px 1.6px
      hsl(var(--card-shadow-color) / 0.33),
    3.2px 3.2px 5.1px -0.8px hsl(var(--card-shadow-color) / 0.33),
    7.9px 7.9px 12.6px -1.7px hsl(var(--card-shadow-color) / 0.33),
    19.3px 19.3px 30.7px -2.5px hsl(var(--card-shadow-color) / 0.33);
  --card-shadow-elevation-high: 1px 1px 1.6px
      hsl(var(--card-shadow-color) / 0.31),
    5.5px 5.5px 8.8px -0.4px hsl(var(--card-shadow-color) / 0.31),
    10.2px 10.2px 16.2px -0.7px hsl(var(--card-shadow-color) / 0.31),
    16.7px 16.7px 26.6px -1.1px hsl(var(--card-shadow-color) / 0.31),
    26.6px 26.6px 42.3px -1.4px hsl(var(--card-shadow-color) / 0.31),
    41.6px 41.6px 66.2px -1.8px hsl(var(--card-shadow-color) / 0.31),
    63.2px 63.2px 100.6px -2.1px hsl(var(--card-shadow-color) / 0.31),
    93px 93px 148px -2.5px hsl(var(--card-shadow-color) / 0.31);
}

body {
  padding: var(--body-padding);
}

:where(h1, h2, h3, h4, h5, h6) {
  font-family: "EB Garamond", serif;
}

h1 {
  line-height: 1.25;
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

h4,
h5,
h6 {
  font-size: var(--step-0);
}

body > * + * {
  margin-block-start: var(--major-padding);
}

main,
footer {
  max-width: 800px;
}

footer {
  border-top: 2px solid #ccc;

  padding-block-start: 0.5rem;
  margin-block-start: 1rem;
  font-size: 0.6rem;
}

.ghost-name {
  text-transform: capitalize;
}

.evil-text {
  color: #600;
  text-shadow: 0 0 15px darkred;
}

/***** Ghosts page */
.ghosts {
  list-style: none;

  padding: 0;

  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto;
  grid-template-rows: repeat(8, 2rem);
  grid-auto-flow: column;
}

/***** Sanity Checker page */

.ghost-list-inline {
  list-style: none;
}

.ghost-list-inline > li {
  display: inline;
}

.ghost-list-inline > li:not(:last-child)::after {
  content: "•";
}

.super-sanity-thresholds {
  padding-inline-start: 1rem;

  display: grid;
  grid-template-columns: 3em 1fr;
  gap: 0.25rem 0.5rem;
}

input[name="selected-sanity"] {
  width: 100%;
}

datalist[id="sanity-markers"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 100%;
}

datalist[id="sanity-markers"] > option {
  line-height: 0.75em;
  padding: 0;
  margin: 0;
}

.can-hunt {
  font-weight: 700;
  rotate: -5deg;
  color: white;
  text-shadow: darkred 0 0 5px, darkred 0 0 5px, darkred 0 0 5px,
    darkred 0 0 10px, darkred 0 0 10px, darkred 0 0 15px, darkred 0 0 15px,
    darkred 0 0 20px, darkred 0 0 50px;
}

.cannot-hunt {
  font-weight: 300;
  font-style: italic;
  color: #666;
}

.is-super-condition::after {
  content: "†";
}

.realtime-sanity-list {
  padding: 1rem 0;
  margin: 0;
}

.realtime-sanity-list > li {
  position: relative;
}

.realtime-sanity-list > li > .ghost-name {
  position: absolute;
  word-break: keep-all;
}

.selected-sanity-label {
  padding: 1rem 0 0 0;
  font-weight: bold;
  font-size: 1em;
}

/***** Tarot page */

.cards-nav.individual-cards > ul > li {
  text-transform: capitalize;
  margin-inline-start: 2ch;
}

.cards-nav > ul {
  margin-block-start: 0;
  padding-inline-start: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem 0.75rem;
}

.cards-nav > ul > li {
  margin-inline-start: 2ch;
  flex: 1 100px;
}

.individual-cards li::marker {
  content: "🃏";
}

.sorted-cards li::marker {
  content: "🎲";
}

.cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.card-wrapper {
  flex-basis: clamp(250px, 30%, 500px);
  aspect-ratio: 5 / 7;
  max-width: 300px;

  background-image: linear-gradient(var(--background-color));

  --card-spacing: 0.25rem;
  --card-border-radius--inner: 16px;
  --card-border-radius--outer: calc(
    var(--card-spacing) + var(--card-border-radius--inner)
  );

  border-radius: var(--card-border-radius--outer);

  box-shadow: var(--card-shadow-elevation-medium);
}

.card {
  margin: var(--card-spacing);
  padding: calc(var(--card-spacing) * 3);

  min-height: calc(100% - var(--card-spacing) * 2);
  width: calc(100% - var(--card-spacing) * 2);

  background-image: linear-gradient(160deg, #fafafa 65%, var(--fade-color));
  color: #444;

  border: 3px solid var(--border-color);
  border-radius: var(--card-border-radius--inner);
}

.card > * + * {
  margin-top: 0.5em;
}

.card > h3 {
  text-transform: uppercase;
  font-size: var(--step-0);
}

.card > details summary {
  cursor: pointer;
}

.card > details > ul {
  font-size: var(--step--2);

  margin-block-start: 0;
  padding-inline-start: 1rem;

  list-style: circle;
}

/***** Cursed possessions page */
.jump-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2ch;
}

.jump-links > li {
  display: inline;
}

.location + .location {
  margin-top: 2rem;
}

.location:target > h4 {
  --font-size: 1.5em;
  font-size: var(--font-size);
  rotate: -5deg;
  transform: translateY(calc(var(--font-size) * -0.1));
  color: darkred;
  text-shadow: black 0 0 25px;
}
