@import url("reset.css");

:root {
  font: 16pt/ 1.25 sans-serif;
}

main {
  max-width: 768px;
}

.ghost-name {
  text-transform: capitalize;
}

/* Ghosts page */
.ghosts {
  list-style: none;

  display: grid;
  gap: 1rem;
  grid-template-columns: auto;
  grid-template-rows: repeat(8, 2rem);
  grid-auto-flow: column;
}
