.obambo-tracker {
  margin-block-start: 1rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;

  --border-radius: 0.5em;
}

.obambo-tracker > * {
  padding: 0.5rem;
  background-color: lightgray;
}

.obambo-tracker__time {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.obambo-tracker__time-controls {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}

.obambo-tracker__time-controls > * {
  border-radius: var(--border-radius);
}

.obambo-tracker__time--time-stuff {
  display: grid;
  place-content: center;
  gap: 0.25rem;
}

.time-stuff__time {
  grid-area: time;
  text-align: center;

  font-size: 3rem;
  font-variant-numeric: tabular-nums;
}

.time-stuff__control {
  border-radius: var(--border-radius);
}

.obambo-tracker__state {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content(1rem) 1fr;
}

.obambo-tracker__state--live {
  display: grid;
  place-content: center;
  font-size: var(--step-6);
  text-shadow:
    0 0 3px var(--state-color, black),
    0 0 8px var(--state-color, black),
    0 0 15px var(--state-color, black);

  animation-iteration-count: infinite;
}

.obambo-state--calm {
  --state-color: dodgerblue;

  animation-duration: 4s;
  animation-name: floaty;
  animation-timing-function: ease-in-out;
}

.obambo-state--aggressive {
  --state-color: tomato;

  animation-duration: 100ms;
  animation-name: jiggle;
  animation-timing-function: linear;
}

@media (prefers-reduced-motion: reduce) {
  .obambo-tracker__state--live {
    animation: none;
  }
}

@keyframes floaty {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.15;
  }
}

@keyframes jiggle {
  0% {
    translate: none;
  }

  24% {
    translate: none;
  }
  25% {
    translate: 0 0.05rem;
  }

  49% {
    translate: 0 0.05rem;
  }
  50% {
    translate: 0.05rem 0;
  }

  74% {
    translate: 0.05rem 0;
  }
  75% {
    translate: 0.05rem 0.05rem;
  }

  99% {
    translate: 0.05rem 0.05rem;
  }
}
