---
layout: baseLayout
---
<h2>Tarot cards</h2>
{%- for card in tarot %}
<ul>
    <li>{{ card.name }}</li>
    <li>{{ card.effect }}</li>
    <li>{{ card.burnColor }}</li>
    <li>{{ card.drawChance }}</li>
</ul>
{% endfor -%}