---
layout: ghostLayout

pagination:
    data: ghosts
    size: 1
    alias: ghost
permalink: "ghosts/{{ ghost.name | slugify }}.html"

title: Ghost
---
<h2>{{ ghost.name }}</h2>
<p>Hunts at sanity threshold: {{ ghost.huntSanityThreshold }}</p>
<h3>Evidence</h3>
<ul>
    {%- for evidence in ghost.evidence %}
        <li>{{ evidence }}</li>
    {% endfor -%}
</ul>
<h3>Unique</h3>
<ul>
    {%- for unique in ghost.uniqueInfo %}
        <li>{{ unique }}</li>
    {% endfor -%}
</ul>