---
layout: ghostLayout

pagination:
    data: ghosts
    size: 1
    alias: ghost
permalink: "ghosts/{{ ghost.name | slugify }}.html"

title: Ghost
---
<h3 class="ghost-name">Ghost: {{ ghost.name }}</h3>
{% if ghost.huntSanityThreshold.values %}
<ul>
Hunts at sanity threshold:
    {% for sanity in ghost.huntSanityThreshold %}
        <li>{{ sanity }}</li>
    {% endfor %}
</ul>
{% else %}
<p>
    Hunts at sanity threshold:
    {{ ghost.huntSanityThreshold }}
</p>
{% endif %}
<h4>Evidence</h4>
<ul>
    {%- for evidence in ghost.evidence %}
        <li>{{ evidence.shortName }}</li>
    {% endfor -%}
</ul>
<h4>Notes</h4>
<ul>
    {%- for note in ghost.notes %}
        <li>{{ note }}</li>
    {% endfor -%}
</ul>
<nav class="ghost-nav" aria-labelledby="ghost-nav-label">
    <h3 id="ghost-nav-label">See an adjacent ghost</h4>
    <ul>
        {% if pagination.href.previous %}<li>Previous: <a class="ghost-name" href="{{ pagination.href.previous }}">{{ pagination.page.previous.name }}</a></li>{% endif %}
        {% if pagination.href.next %}<li>Next: <a class="ghost-name" href="{{ pagination.href.next }}">{{ pagination.page.next.name }}</a></li>{% endif %}
    </ul>
</nav>