---
layout: baseLayout
---
<h2>Timers</h2>
<h3>Hunt Cooldown</h3>
<p>Once a hunt ends, a ghost must wait at least 25 seconds before attempting to hunt again.</p>
<div class="timer">
    <time>25</time>
    <button id="hunt-cooldown--start">Start</button>
    <button id="hunt-cooldown--reset-btn">Reset</button>
</div>

<script src="/scripts/timers.js"></script>