---
layout: baseLayout
---
<h2>Timers</h2>
<h3>Hunt Cooldown</h3>
<p>Once a hunt ends, a ghost must wait at least 25 seconds before attempting to hunt again.</p>
<div class="timer" id="hunt-cooldown-timer" data-duration="5">
    <p class="time"></p>
    <button type="button" class="start-btn">Start</button>
    <button type="button" class="reset-btn">Reset</button>
</div>

<script src="/scripts/timers.js"></script>