---
layout: baseLayout
title: Media
---
<script defer src="/scripts/alpinejs.min.js"></script>
<section class="media"
    x-data="{
        search: '',

        items: {
            photos: [{% for photo in media.photo %}'{{photo}}',{% endfor %}],
            videos: [{% for video in media.video %}'{{video}}',{% endfor %}],
            sounds: [{% for sound in media.sound %}'{{sound}}',{% endfor %}]
        },

        clearSearch() {
            this.search = '';
        },

        get filteredPhotoItems() {
            return this.items.photos.filter(i => i.toLowerCase().startsWith(this.search.toLowerCase()));
        },

        get filteredVideoItems() {
            return this.items.videos.filter(i => i.toLowerCase().startsWith(this.search.toLowerCase()));
        },

        get filteredSoundItems() {
            return this.items.sounds.filter(i => i.toLowerCase().startsWith(this.search.toLowerCase()));
        }
    }"
>
    <h2>Media</h2>

    <fieldset>
        <legend>Filter media type</legend>
        <input type="radio" value="all" id="media-type--all" name="media-type" checked />
        <label for="media-type--all">All</label>
        <input type="radio" value="photo" id="media-type--photo" name="media-type" />
        <label for="media-type--photo">Photo</label>
        <input type="radio" value="video" id="media-type--video" name="media-type" />
        <label for="media-type--video">Video</label>
        <input type="radio" value="sound" id="media-type--sound" name="media-type" />
        <label for="media-type--sound">Sound</label>
    </fieldset>

    <p class="input-group">
        <label for="media-search">Search all: </label>
        <input x-model="search" id="media-search" placeholder="crucifix" />
        <button x-on:click="clearSearch()">Clear</button>
    </p>

    <div class="media__type" data-photo>
        <h3 data-photo>📷 Photo</h3>
        <ul class="media__type__list" x-show="filteredPhotoItems.length > 0">
            <template x-for="item in filteredPhotoItems" :key="item">
                <li>
                    <label class="media__item">
                        <span x-text="item"></span>
                        <input type="checkbox" />
                    </label
                </li>
            </template>
        </ul>
        <p class="no-match-notice" x-show="filteredPhotoItems.length === 0">
            No search matches.
        </p>
    </div>

    <div class="media__type" data-video>
        <h3 data-video>📹 Video</h3>
        <ul class="media__type__list" x-show="filteredVideoItems.length > 0">
            <template x-for="item in filteredVideoItems" :key="item">
                <li>
                    <label class="media__item">
                        <span x-text="item"></span>
                        <input type="checkbox" />
                    </label
                </li>
            </template>
        </ul>
        <p class="no-match-notice" x-show="filteredVideoItems.length === 0">
            No search matches.
        </p>
    </div>

    <div class="media__type" data-sound>
        <h3 data-sound>🔉 Sound</h3>
        <ul class="media__type__list" x-show="filteredSoundItems.length > 0">
            <template x-for="item in filteredSoundItems" :key="item">
                <li>
                    <label class="media__item">
                        <span x-text="item"></span>
                        <input type="checkbox" />
                    </label
                </li>
            </template>
        </ul>
        <p class="no-match-notice" x-show="filteredSoundItems.length === 0">
            No search matches.
        </p>
    </div>
</section>
