---
layout: baseLayout
title: Media
---
<script defer src="/scripts/alpinejs.min.js"></script>
<h2>Media</h2>
<section class="media">
    <input type="radio" value="all" id="media-type--all" name="media-type" checked>
    <label for="media-type--all">All</label>
    <input type="radio" value="photo" id="media-type--photo" name="media-type">
    <label for="media-type--photo">Photo</label>
    <input type="radio" value="video" id="media-type--video" name="media-type">
    <label for="media-type--video">Video</label>
    <input type="radio" value="sound" id="media-type--sound" name="media-type">
    <label for="media-type--sound">Sound</label>

    <div class="media__type" data-photo>
        <h3 data-photo>Photo</h3>
    </div>

    <div class="media__type" data-video>
        <h3 data-video>Video</h3>
    </div>

    <div class="media__type" data-sound>
        <h3 data-sound>Sound</h3>
    </div>
</section>
